/*!
Template :	Light - Stackposts Theme
Author	 :	ProcodeBR
Version	 :	1.0.0
Updated	 :	30.04.2019
*/
.active .steps h4,
.heading span,
.box-icon .fa,
.box-icon .ti,
.video-play,
.video-play:hover,
.video-play:focus,
.owl-theme .owl-nav [class*=owl-],
.single-features .ti,
.single-features .fa,
.contact-form h3,
.contact-info h6 .fa,
.footer-navigation li a:hover,
.social-list li a:hover,
.owl-theme .owl-nav [class*="owl-"]:hover,
.footer-links li a:hover{
	color:#3A5FCA;
}

.pricing-bottom .ti-check{
	color:#00d578;
}

.pricing-bottom .ti-close{
	color:#de0000;
}

.owl-theme .owl-dots .owl-dot span:after,
.affix .navbar-default .navbar-toggle, 
.affix .navbar-default .navbar-toggle,
.navbar-default .navbar-toggle:hover, 
.navbar-default .navbar-toggle:focus {
	border-color:#3A5FCA;
}
.primary-bg{
	background: #3A5FCA;
}
.secondary-bg{
	background: #F35293;
}
.owl-theme .owl-dots .owl-dot.active span, 
.owl-theme .owl-dots .owl-dot:hover span,
.affix .navbar-default .navbar-toggle, 
.affix .navbar-default .navbar-toggle,
.navbar-default .navbar-toggle:hover, 
.navbar-default .navbar-toggle:focus {
	background: #3A5FCA;
}
.button{
	background: #2EC670;
}
.button:hover {
	background: #3A5FCA;
}
.header-texts .button{
	background: #2EC670;
	color: #fff;
}
.header-texts .button:hover {
	background: #fff;
	color: #2EC670;
}
.button.button-transparent{
	background:transparent;
}
.button.button-transparent:hover{
	background: #fff;
	color: #2EC670;
	border-color: #fff;
}

.navbar-default .navbar-nav > li > a.button,
.navbar-default .navbar-nav > li > a.button:focus{
	border:2px solid #2EC670;
	background: #2EC670;
}
.navbar-default .navbar-nav > li > a.button:hover{
	color: #2EC670;
}
.affix .navbar-default .navbar-nav > li > a.button:hover,
.affix .navbar-default .navbar-nav > li.active > a.button,
.affix .navbar-default .navbar-nav > li.active > a.button:focus{
	color: #2EC670;
	border-color: #2EC670;
}

.gradiant-background,
.bg-gradiant.mfp-bg,
.box-icon,
.team-member .team-photo:after{
	! background-image: -o-linear-gradient(157deg, #496BFB 0%, #2388C9 100%);
	! background-image: linear-gradient(293deg, #496BFB 0%, #2388C9 100%);
}
.meta-heading{
	color: #496BFB;
	margin-bottom: 5px;
}
.feature-col .icon{
	background: #F4F6FF;
	color: #496BFB;
}
.button.alt{
	background: #fff;
	color: #496BFB;
}
.button.alt:hover{
	background: #F93D66;
	color: #fff;
}
.button.light{
	background: #F4F6FF;
	color: #496BFB;
}
.button.light:hover{
	background:#496BFB; 
	color: #fff;
}
.bg-circle .small, .bg-circle .big{
	background: #F4F6FF;
}
.bg-circle .big:before{
	background-image: -o-linear-gradient(157deg, #fff 0%, #2388C9 100%);
	background-image: linear-gradient(157deg, #fff 0%, #2388C9 100%);
}
.bg-circle .big:after{
	background-image: -o-linear-gradient(157deg, #fff 0%, #496BFB 100%);
	background-image: linear-gradient(157deg, #fff 0%, #496BFB 100%);
}
 .pricing-box.alt h5{
 	color: #496BFB;
 }

@media only screen and (max-width: 991px) {
	.navbar-default .in .navbar-nav > li > a:hover,
	.navbar-default .in .navbar-nav > li > a:focus,
	.affix .navbar-default .navbar-nav > li > a:hover,
	.affix .navbar-default .navbar-nav > li > a:focus,
	.affix .navbar-default .navbar-nav > .active > a, 
	.affix .navbar-default .navbar-nav > .active > a:hover, 
	.affix .navbar-default .navbar-nav > .active > a:focus {
		background:#3A5FCA;
	}

}